@import "./themes/deer.css";

@font-face {
  font-family: "Noto Sans";
  src: url("assets/notosans/NotoSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  src: url("assets/notosans/NotoSans-Italic-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "sitelen seli kiwen";
  src: url("assets/sitelenselikiwen/sitelenselikiwenjuniko.ttf");
  size-adjust: 130%;
  unicode-range: U+F????;
}
@font-face {
  font-family: "Noto Color Emoji";
  src: url("assets/notocoloremoji/NotoColorEmoji-Regular-NoSVG.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--deer-background);
  color: var(--deer-foreground);
  padding: 8px;
  margin: 0;
  font-family: "Noto Sans", sans-serif, serif, "Noto Color Emoji",
    "sitelen seli kiwen";
}
.hidden {
  display: none !important;
}
.mono {
  font-family: monospace;
}

a,
.link-styles {
  color: var(--deer-foreground);
}
.link-styles {
  text-decoration: underline;
}
p {
  margin-block: 0;
}
.no-button-styles {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  border: 0;
}
button:not(.no-button-styles) {
  background-color: var(--deer-button);
  color: var(--deer-foreground);
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-family: "Noto Sans", sans-serif, serif, "sitelen seli kiwen";
}
button:hover {
  cursor: pointer;
}
button:not(.no-button-styles):hover {
  background-color: var(--deer-button-hover);
}
button:not(.no-button-styles):disabled,
button:not(.no-button-styles)[disabled] {
  cursor: not-allowed;
  background-color: var(--deer-button-disabled);
}
input,
textarea {
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-family: "Noto Sans", sans-serif, serif, "sitelen seli kiwen";
  font-size: 14px;
  margin-bottom: 4px;
  vertical-align: middle;
  resize: none;
  background-color: var(--deer-button-hover);
  color: var(--deer-foreground);
}

#register-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#rl-login-container,
#rl-signup-container,
#rl-bottom-row {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

#main-scene {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#ms-ulist {
  font-size: smaller;
}
#ms-post-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#ms-replies-wrapper {
  text-align: center;
}
#ms-replies {
  display: flex;
  flex-direction: column;
}
#ms-msg-wrapper {
  flex: 1;
}
#ms-msg {
  width: 100%;
}
#ms-suggestions {
  display: none;
}
#ms-msg-wrapper:focus-within > #ms-suggestions {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  gap: 0.1rem;
}
#ms-suggestions button {
  text-wrap: nowrap;
  margin-bottom: 0;
}
#ms-presets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.post {
  background-color: var(--deer-button-hover);
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 8px;
  word-break: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.pfp {
  border-radius: 100%;
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 8px;
  margin-top: 2px;
  border: 2px solid var(--deer-image-border);
}
.post-top {
  display: flex;
  align-items: center;
}
.post-top > div {
  display: flex;
  flex-direction: column;
}
.post-top-second-part {
  font-size: small;
}
.reply {
  font-style: italic;
  color: var(--deer-reply);
}
.attachment img,
.attachment video {
  max-height: 300px;
}
.post-deletion-message {
  font-style: italic;
  font-size: smaller;
  color: var(--deer-reply);
}
